#app
  .flex.justify-center
    = #@image.attributes

  .flex.justify-center
    %a.underline{ e_click: "bg_change" , r_class: 'back'}
      {{ back }}
:opal
  class Clicker < VueR::Application
    def bg_change
      self.state = !self.state
    end
    def back
      self.state ? "bg-cyan-50" : "bg-cyan-200"
    end
  end

  click = Clicker.new(bg: 'bg-cyan-200' , state: true)
  click.mount("#app")
